@model IEnumerable<Zombie>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-primary">@Locals["Title"]</h2>
        </div>
        <div class="col-2 text-right">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus-square"></i>&nbsp;@Locals["New"]
            </a>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_ZombieCard" model="item"/>
        }
    </div>
</div>
